<div id="issues" class="row text-center">
  <div id="issues-header" class="row text-center">
    <div class="col-xs-7">
      <h1>User Issues</h1>
    </div>
    <div id="issues-logo-container" class="col-xs-4">
      <img src="{{logo}}">
    </div>
  </div>
  <div id='complaints'>
    <div id="accordionT row">
      <p *ngIf='!issues[0]'> None Yet!</p>
      <div class="card issue" [attr.id]="'accordionT_' + i" *ngFor="let complaint of issues; let i = index;">
        <div class="panel panel-default">
          <div class="card-header">
            <button class="col-md-12" data-toggle="collapse" (click)="getUserInfo(complaint)" [attr.data-parent]="'#accordionT_' + i"
              [attr.href]="'#collapseOneT_' + i">
              <div class="col-md-12">
                <div class="col-xs-9">
                  <p>{{ complaint.category }}</p>
                  <p>Job Id# {{ complaint.id_job }}</p>
                </div>
                <div class="col-xs-3">
                  Date Posted: {{ complaint.created_at }}
                  <div class="col-xs-12">
                    <button type="button" class="btn btn-info review" (click)='getUserInfo(complaint)'>Review!</button>
                  </div>
                </div>
              </div>
            </button>
          </div>
          <div [attr.id]="'collapseOneT_' + i" class="collapse in row">
            <!-- all questions, responses, image, user details, option to reply/resolve -->
            <div class="card-body col-md-12">
              <div class="col-xs-12">
                <div class="col-xs-6 profile">
                  <img src="{{ chorePhoto }}">
                  
                </div>
                <div class="col-xs-6">
                </div>
              </div>
              <div class="col-xs-12">
                <div class="col-xs-12">
                  <p>{{ complaint.description }}</p>
                </div>
                <div class="col-xs-4">
                  <button type="button" class="btn btn-info respond" (click)="open(content)">Respond</button>
                </div>
                <div class="col-xs-4">
                  <button type="button" class="btn btn-info resolve" >Resolve</button>
                </div>
              </div>

              <ng-template #content let-c="close" let-d="dismiss">
                <div class="modal-header">
                  <h4 class="modal-title" id="modal-basic-title">Reply to user</h4>
                  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span class="close" aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="chatbox">
                    <div *ngIf="sending">
                      {{chats.message}}
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <input class="form-control" [(ngModel)]="message" (keyup.enter)="sendMessage(complaint.id_user)">
                </div>
                <button class="btn btn-primary" (click)="sendMessage(complaint.id_user)">Send</button>
              </ng-template>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

