
<nav class="navbutton navbar-fixed-top" *ngIf="isLoggedIn$ | async">
  <div class="container-fluid">
    <div class="navbar-header navbar-fixed-top">
      <div class="col-xs-8">
        <button class="btn btn-info navbar-btn" type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
          aria-controls="navbar">
          <span class="navbar-toggler-icon">=</span>
        </button>
      </div>
      <!-- <a class="navbar-brand" href="">Alfred</a> -->
      <div id="nav-logo-container" class="col-xs-4">
        <img src="{{logo}}">
      </div>
    </div>
  </div>

  <div class="collapse" id="navbar">
    <ul class="nav navbar-nav navbar-fixed-top">
      <li data-toggle="collapse" data-target="#navbar"><a class="btn btn-info" routerLink="/dashboard">Home</a></li>
      <li data-toggle="collapse" data-target="#navbar"><a class="btn btn-info" routerLink="/profile">Profile</a></li>
      <li data-toggle="collapse" data-target="#navbar"><a class="btn btn-info" routerLink="/job">My Chores</a></li>
      <li data-toggle="collapse" data-target="#navbar"><a class="btn btn-info" routerLink="/add">Post new chore</a></li>
      <li data-toggle="collapse" data-target="#navbar"><a class="btn btn-info" routerLink="/message">Messages</a></li>
      <li data-toggle="collapse" data-target="#navbar"><a class="btn btn-info" routerLink="/help">Help</a></li>
      <li data-toggle="collapse" data-target="#navbar"><a class="btn btn-info" (click)="logout()">Logout</a></li>
    </ul>
  </div>
</nav>
