nav {
  background-color: #C3F0DB;
}

.navbar-header {
  margin-left: 1vh;
  margin-right: 1vh;
}

.navbar-toggler-icon {
  color: #5A6978; 
}

.btn-info {
  background-color: #45CAA6;
  border-color: #5A6978;
  /* border: none !important; */
}

.btn-info:hover, .btn-info:focus, .btn-info:active:focus, .btn-info:active, .btn-info.active, .open>.dropdown-toggle.btn-info {
    color: white;
    background-color: #F896EA;
    border-color: #5A6978; /*set the color you want here*/
}

#nav-logo-container img {
  max-height: 15vw;
  width: auto;
  margin-top: 1vh;
}

#nav-logo-container {
  text-align: right;
}

.col-xs-8 {
  margin-top: 3vh;
}