#jobs {
  background-color: #C3F0DB;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
  flex-grow: 1;
}

#jobs img {
  max-height: 15vw;
  width: auto;
}
.collapse.show {
  visibility: visible;
}

#chores {
  background-color: white;
  min-height: 75vh;
  border: 5px solid silver;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 3vh;
}

li {
  margin-bottom: 2vh;
  margin-left: -2vw;
  /* border-bottom: 1px solid #5A6978; */
}

h1, h3 {
  color: #5A6978; 
  font-family: 'Fjalla One', sans-serif;
}

h3 {
  text-align: center;
}

span:not(.close) {
  display: inline-block;
  width: 80vw;
  border: 2px solid #45CAA6;
}

.chore .col-md-12{
  text-align: left;
}

.payment {
  color: #F896EA;
}

#rating ngb-rating {
  /* font-size: 1.5rem; */
  color: yellow;
}

.profile {
  text-align: center;
}

.hide {
  display: none;
}

.help, .upload  {
  background-color: #F896EA;
  border: 0;
  border-radius: 40px;
  color: white;
  font-size: 2vh;
  margin: 1vh;
  padding: 1vw 2vw 1vw 2vw;
  width: 15vh;
}

.messageBtn, .edit {
  background-color: #969FAA;
  border: 0;
  border-radius: 40px;
  color: white;
  font-size: 2vh;
  margin: 1vh;
  padding: 1vw 2vw 1vw 2vw;
  width: 15vh;
}
.delete, .complete, .nav {
  background-color: #45CAA6;
  border: 0;
  border-radius: 40px;
  color: white;
  font-size: 2vh;
  margin: 1vh;
  padding: 1vw 2vw 1vw 2vw;
  width: 15vh;
}

.btn-info {
  margin-left: 0;
}