<p>
  job works!
</p>
<app-navbar></app-navbar>
<header>
  <div class="container">
    <ul >list of chores taken
      <li  *ngFor="let chore of jobsTaken">
        <a>{{ chore.description }}</a><br> 
        <p>{{ chore.address }}</p><br>
        <p ng-if="chore.completed"> Completed! </p>
        <p ng-if="!chore.completed"> Not Done Yet! </p>
      </li>
    </ul>
    <br>
    <ul >list of chores posted
      <li *ngFor="let chore of jobsPosted">
        <a>{{ chore.description }}</a><br>
        <p>{{ chore.address }}</p><br>
        <p ng-if="chore.completed"> Completed! </p>
        <p ng-if="!chore.completed"> Not Done Yet! </p>
      </li>
    </ul>
  </div>
</header>