<div id="jobs" class="row text-center">
  <div id="jobs-header" class="row text-center">
    <div class="col-xs-7">
      <h1>My Chores</h1>
    </div>
    <div id="add-logo-container" class="col-xs-4">
      <img src="{{logo}}">
    </div>
  </div>

  <div class="col-md-12 chores">
    <ul>
      <h3>To-Do</h3>
      <li *ngFor="let chore of jobsTaken" class="chore">
        <div *ngIf="!chore.completed" class="col-md-12">
          <div class="col-xs-8">
            <a>{{ chore.description }}</a>
          </div>
          <div class="col-xs-4">
            Date Posted
          </div>
        </div>
        <div *ngIf="!chore.completed" class="col-md-12">
          <div class="col-xs-8">
            <p>{{ chore.address }}</p>
          </div>
          <div class="col-xs-4">
            <p class="payment">Available earnings: ${{ chore.payment }}</p>
          </div>
        </div> 
      </li>
    </ul>
    <p *ngIf='!jobsTaken[0]'> None Yet!</p>
    <ul *ngIf='jobsTaken[0]'>
      <h3>Completed</h3>
      <li *ngFor="let chore of jobsTaken" class="chore">
        <div *ngIf="chore.completed" class="col-md-12">
          <div class="col-xs-8">
            <p>{{ chore.description }}</p>
          </div>
          <div class="col-xs-4">
            <p>Date Posted</p>
          </div>
        </div>
        <div *ngIf="chore.completed" class="col-md-12" >
          <div class="col-xs-8">
            <p>{{ chore.address }}</p>
          </div>
          <div class="col-xs-4">
            <p class="payment">Amount earned: ${{ chore.payment }}</p>
          </div>
        </div> 
      </li>
    </ul>
    <span></span>
    <ul>
      <h3>Posted</h3>
      <li *ngFor="let chore of jobsPosted" class="chore">
        <div class="col-md-12">
          <div class="col-xs-8">
            <p>{{ chore.description }}</p>
          </div>
          <div class="col-xs-4">
            <p>Date Posted</p>
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-xs-8">
            <p class="payment">Amount paid: ${{ chore.payment }}</p>
          </div>
          <div class="col-xs-4">
            <p *ngIf="chore.completed"> Completed! </p>
            <p *ngIf="!chore.completed"> Not done yet </p>
          </div>
        </div>
      </li>
    </ul>
    <p *ngIf='!jobsPosted[0]'> None Yet!</p>
  </div>
</div>
