#login {
  background-color: #C3F0DB;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
  flex-grow: 1;
}

#login img {
  max-height: 60vw;
  min-height: 20px;
  width: auto;
  margin-bottom: 4vh;
}

#login .btn {
  background-color: #45CAA6;
  border: 0;
  border-radius: 20px;
  color: #5A6978; 
  font-family: 'Playfair Display SC', serif;
  font-size: 4vh;
  margin: 4vh;
  padding: 1vw 7vw 1vw 7vw;
}

input {
  text-align:center;
  color: #5A6978;
}

#login .signup-btn {
  font-size: 2vh;
  margin: 0 0 5vh 0;
  padding: 1vw 3vw 1vw 3vw;
}

h2, p{
  color: #5A6978; 
  font-family: 'Playfair Display SC', serif;
}

p {
  margin-bottom: 0;
}