<div>
<header>
<div class="col-md-12">
  <agm-map [(latitude)]="lat" [(longitude)]="lng" [(zoom)]="location.zoom" [disableDefaultUI]="true" [zoomControl]="true">
    <agm-marker *ngFor="let job of jobs" [(latitude)]="job.lat" [(longitude)]="job.lon" label="work" (markerClick)="addInfoWindow(job, job)">
      <agm-info-window #infoWindow>
        <div>
          <a>Address: {{job.address}}</a><br>
          <a>Description: {{job.description}}</a><br>
          <a>Payment: ${{job.payment}}</a><br>
          <a>Category: {{categoryLists[job.category]}}</a><br>
        </div>
        <button class="btn btn-primary" (click)='takeChore(job)'>Add to My Chores</button>
      </agm-info-window>
    </agm-marker>
    <agm-marker [(latitude)]="location.marker.lat" [(longitude)]="location.marker.lng" [markerDraggable]="location.marker.draggable"
              >ME</agm-marker>
  </agm-map>
</div> -->
</header>

 
    
<div id="dashboard" class='row'>

  <div id='searchbar' class='col-md-12'>
    <div class="form-group col-xs-5">
      <label for="location">City & State</label>
      <input class='col-sm-10' [(ngModel)]='location.address_state' class='form-control' placeholder='City & State'>
    </div>
    
    <div class="form-group col-xs-4">
      <label for="cat">Category</label>
      <select class="btn btn-default dropdown-toggle form-control" title="Select category" [(ngModel)]="selectedCategory" [ngModelOptions]="{standalone: true}"
        required>
        <option value="" selected disabled>Select Category</option>
        <option *ngFor="let list of categoryLists" [value]="list">
          {{list}}
        </option>
      </select>
    </div>

    <div class="form-group col-xs-3">
      <button id="searchbtn" (click)='getList()' type="submit" class="btn btn-primary">Search</button>
    </div>
  </div>

  <div id="info" class="col-md-12">
    <div class="col-md-8">
      <!-- job info -->
    </div>
    <div class="col-md-4">
      <!-- poster info -->
      <h6>
        <!-- poster username -->
      </h6>
      <!-- poster profile photo
      <img> -->
      <div id="rating">

      </div>
      <button id="message-btn"></button>
      <button id="add-btn"></button>
    </div>
  </div>

</div>
</div>

