
<header>
  <div class="container">
    <agm-map [(latitude)]="lat" [(longitude)]="lng" [(zoom)]="location.zoom" [disableDefaultUI]="true"
      [zoomControl]="true">
      <agm-marker *ngFor="let job of jobs" [(latitude)]="job.lat" [(longitude)]="job.lon" 
        ><agm-info-window #infoWindow>
          <p>
            {{ job }}

          </p>
          <button class="btn btn-primary" (click)='takeChore(job)'>Add to My Chores</button>
        </agm-info-window></agm-marker>
        <agm-marker [(latitude)]="location.marker.lat" [(longitude)]="location.marker.lng" [markerDraggable]="location.marker.draggable"
          >ME</agm-marker>
    </agm-map>
  </div>
</header>

  <div class="container-fluid">
    <div class='row'>
      <!-- <div class="form-group">
        <label class='col-sm-2'>Address</label>
        <input class='col-sm-10' type='text' [(ngModel)]='location.address' class="form-control" placeholder='Street'>
      </div> -->
      
      <div class="form-group">
        <label class='col-sm-2'>City & State</label>
        <input class='col-sm-10' [(ngModel)]='location.address_state' class='form-control' placeholder='City & State'>
      </div>
    <div>
      <label for="cat">Category</label><br>
      <select class="btn btn-default dropdown-toggle" name="priority" [(ngModel)]="selectedCategory" [ngModelOptions]="{standalone: true}"
        required>
        <option *ngFor="let list of categoryLists" [value]="list">
          {{list}}
        </option>
      </select><br>
    </div>
    <!-- <div class="form-group">
      <label class='col-sm-2'>Zip code</label>
      <input class='col-sm-10' [(ngModel)]='location.address_zip' class='form-control' placeholder='Zipcode'>
    </div> -->

    <button (click)='getList()' type="submit" class="btn btn-primary">Search</button>
  </div>
</div>
