<p>
  dashboard works!
</p>
<app-navbar></app-navbar>
<header>
  <div class="container">
    <agm-map [(latitude)]="location.lat" [(longitude)]="location.lng" [(zoom)]="location.zoom" [disableDefaultUI]="true"
      [zoomControl]="true" [(fitBounds)]='location.viewport'>
      <agm-marker *ngFor="let chore of userChores" [(latitude)]="chore.marker.lat" [(longitude)]="chore.marker.lng" [markerDraggable]="chore.marker.draggable"
        (dragEnd)='markerDragEnd($event)'></agm-marker>
    </agm-map>
    <button routerLink="/add">Post my chores</button>
  </div>
</header>